The environment file is invalid!
Failed to parse dotenv file. Encountered unexpected whitespace at [ofnu iryp wugh wvzf]* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
